@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.animate-typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #FFD700; /* Yellow color similar to text */
  animation: typing 3s steps(10, end) infinite;
  width: 0;
}

